# PostgreSQL
POSTGRES_USER=kittygram_user
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=kittygram
DB_NAME=kittygram
DB_ENGINE=postgresql
DB_HOST=db
DB_PORT=5432

# Django
DJANGO_SECRET_KEY=your-secret-key-here
DJANGO_DEBUG=False